<div class="card p-10">
  <div class="card-body pt-10">
    <div class="row justify-content-center">
      <div class="col-6 pt-10">
        <!--<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-6">
    </div>
  </div>-->
        <h3 class="text-center mt-5 mb-5 font-weight-bold">Edit '<%= @trip.name.capitalize %>'</h3>
        <%= simple_form_for @trip do |f| %>
          <%= f.input :name, label: "Name" %>
          <%= f.input :street, label: "Street" %>
          <%= f.input :zip, label: "Zip code" %>
          <%= f.input :city, label: "City" %>
          <%= f.input :country, label: "Country", as: :string %>
          <%= f.input :start_date, label: "Start date", as: :string, required: false, input_html: {id: "range_start"} %>
          <%= f.input :end_date, label: "End date", as: :string, required: false, input_html: {id: "range_end"} %>
          <%= f.input :description, as: :text %>
          <%= f.input :photo, as: :file %>
      </div>
    </div>
  </div>
</div>
<div class="card p-10">
  <div class="card-body pt-10">
    <div class="row justify-content-center">
      <div class="col-6 pt-10"> 
          <h3 class="text-center mt-5 mb-5 font-weight-bold">Edit restrictions</h3>
          <%= f.input :airport_code, label: "Airport (IATA code)" %>
          <%= f.input :max_price, label: "Max price (€)", as: :numeric %>
          <%= f.input :flight_class, label: "Travel class", collection: Trip::FLIGHT_CLASSES %>

          <div class="row">
            <div class="col-6">
              <%= f.input :latest_arrival, label: "Latest allowed event arrival", as: :string, required: false, input_html: {id: "latest_arrival"} %>
            </div>
            <div class="col-6">
              <%= f.input :earliest_departure, label: "Earliest allowed event departure", as: :string, required: false, input_html: {id: "earliest_departure"} %>
            </div>
          </div>

          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
