<%= simple_form_for @trip do |f| %>
<div class="card p-12">
  <div class="card-body pt-10">
    <div class="row justify-content-center">
      <div class="col-6 pt-10">
        <h2 class="text-center mt-5 mb-5">Create a trip</h2>
          <%= f.input :name, label: "Trip Name" %>
          <%= f.input :street, label: "Address" %>
          <div class="row">
            <div class="col-6">
              <%= f.input :zip, label: "Zip code" %>
            </div>
            <div class="col-6">
              <%= f.input :city, label: "City" %>
            </div>
          </div>
          <%= f.input :country, label: "Country", as: :string %>
          <div class="row">
            <div class="col-6 mb-5">
              <%= f.input :start_date, label: "Start date", as: :string, required: false, input_html: {class: "datepicker"} %>
            </div>
            <div class="col-6 mb-5">
              <%= f.input :end_date, label: "End date", as: :string, required: false, input_html: {class: "datepicker"} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row_new justify-space-between">
    <div class="card col-6">
      <div class="card-body pt-12 d-flex">
        <div class="row col-12 justify-content-center">
          <div class="col-12 mt-4 mb-4">
            <%= f.input :description, as: :text, :input_html => {:rows => 10}%>
            <%= f.input :photo, as: :file, input_html: { class: 'd-none hidden', id: 'photo-input'}, label_html: { class: 'btn btn-primary'}, label: 'Upload picture' %>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-6">
      <div class="card-body pt-12 d-flex justify-content-center align-items-center preview-box">
        <div>
          <!--<%= image_tag "", class: "hidden", id: "photo-preview" %>-->
          <%= image_tag "https://res.cloudinary.com/hachiles/image/upload/v1606993472/128729957_1019923191814990_8999176841093007894_n_axnirc.png", class: "hidden", id: "photo-preview" %>
        </div>
      </div>
    </div>
  </div>


  <div class="card p-10">
    <div class="card-body pt-10">
      <div class="row justify-content-center">
        <div class="col-6 pt-10">
          <h2 class="text-center mt-5 mb-5">Restrictions</h2>
          <%= f.input :airport_code, label: "Airport (IATA code)" %>
          <%= f.input :max_price, label: "Price ceilling (€)", as: :numeric %>
          <%= f.input :flight_class, label: "Travel class", collection: Trip::FLIGHT_CLASSES %>
          <div class="row">
            <div class="col-6">
              <%= f.input :latest_arrival, label: "Latest allowed event arrival", as: :string, required: false, input_html: {id: "latest_arrival"} %>
            </div>
            <div class="col-6">
                <%= f.input :earliest_departure, label: "Earliest allowed event departure", as: :string, required: false, input_html: {id: "earliest_departure"} %>
            </div>
          </div>
          <div class="row justify-content-center mt-4" >
            <%= f.submit class: "btn btn-primary mb-5" %>
          </div>      
      </div>
    </div>
  </div>`
</div>
<%end%>

