<% if current_user == @trip.host %>
  <div class="container mt-3 mb-3">
    <%= link_to "Edit trip", edit_trip_path, class:"btn btn-primary" %>
  </div>

  <div class="container mt-3 mb-3">
    <%= link_to "Delete trip", trip_path, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-primary" %>
  </div>
<% end %>

<div class="container mt-5">
  <h1><%= @trip.name.capitalize %></h1>
  <h3>Details:</h3>
  <ul>
    <li>Address: <%= @trip.street.capitalize %>, <%= @trip.zip %> <%= @trip.city.capitalize %>, <%= @trip.country.upcase %></li>
    <li>Start: <%= @trip.start_date %></li>
    <li>End: <%= @trip.end_date %></li>
  </ul>
  <h3>Restrictions:</h3>
  <ul>
    <li>Arrival airport: <%= @trip.airport_code.nil? ? "N/A" : @trip.airport_code.upcase %></li>
    <li>Price ceilling: <%= @trip.max_price.nil? ? "N/A" : @trip.max_price %>€</li>
    <li>Travel class: <%= @trip.flight_class.nil? ? "N/A" : @trip.flight_class.capitalize %></li>
    <li>Latest arrival: <%= @trip.latest_arrival.nil? ? "N/A" : @trip.latest_arrival %></li>
    <li>Earliest departure: <%= @trip.earliest_departure.nil? ? "N/A" : @trip.earliest_departure %></li>
  </ul>
  <% if @trip.users.count > 0 %>
  <h3>Participants:</h3>
  <ul>
    <% @trip.users.each do |participant| %>
      <li><%= participant.first_name.capitalize %> <%= participant.last_name.capitalize %></li>
    <% end %>
  </ul>
  <% end %>
  <% if current_user == @trip.host %>
    <% if @trip.invitations.length > 0 %>
      <h3>Pending invitations:</h3>
      <ul>
        <% @trip.invitations.each do |invitation| %>
          <% if invitation.status == "Pending" %>
            <li><%= invitation.email %><br>Creation: <%= invitation.created_at %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <% if current_user == @trip.host %>
    <h3>Create invitations:</h3>
    <%= simple_form_for [@trip, @invitation] do |f| %>
      <%= f.input :email, label: "Email address" %>
      <%= f.submit "Invite!", class:"btn btn-primary" %>
    <% end %> <br>
  <% end %>

  <%= link_to "Back to My trips", trips_path, class:"btn btn-primary" %>
</div>
