<div class="row">
      <div class="col-lg-12">
        <div class="profile-cover">
          <% if @trip.photo.attached? %>
            <%= cl_image_tag @trip.photo.key %>
          <% else %>
            <img src="https://res.cloudinary.com/hachiles/image/upload/v1606483935/profile-bg_zh4oi2.jpg">
          <% end %>
        </div>
        <div class="profile-header">
          <div class="profile-img">
            <% if @trip.host.photo.attached? %>
              <%= cl_image_tag @trip.host.photo.key %>
            <% else %>
              <img src="https://res.cloudinary.com/hachiles/image/upload/v1606483934/avatar3_znnvez.png">
            <% end %>
          </div>
          <div class="profile-name">
            <h3><%= @trip.name.split.map(&:capitalize).join(' ') %></h3>
          </div>
          <div class="profile-header-menu">
            <ul class="list-unstyled">
              <% if current_user == @trip.host %>
                <li><%= link_to "Edit trip", edit_trip_path, class:"btn btn-outline-primary" %></li>
                <li><%= link_to "Delete trip", trip_path, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-outline-primary" %></li>
              <% else %>
                <li><%= link_to "Search flights", trip_search_flights_path(@trip.id), class:"btn btn-outline-primary" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

<div class="trip-inside no-page-title contacts-app p-0">
  <div id="main-wrapper">
  </div> 
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Details:</h5>
          <ul class="list-unstyled">
            <li><strong>Address:</strong> <%= @trip.street.split.map(&:capitalize).join(' ') %>,<br> <%= @trip.zip %> <%= @trip.city.capitalize %>,<br> <%= @trip.country.upcase %></li>
            <li><strong>Start:</strong> <%= @trip.start_date.strftime("%d/%m/%Y") %></li>
            <li><strong>End:</strong> <%= @trip.end_date.strftime("%d/%m/%Y") %></li><br>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Restrictions:</h5>
            <ul class="list-unstyled">
              <li><strong>Arrival airport:</strong> <%= @trip.airport_code.nil? ? "N/A" : @trip.airport_code.upcase %></li>
              <li><strong>Price ceilling:</strong> <%= @trip.max_price.nil? ? "N/A" : "#{@trip.max_price}€" %></li>
              <li><strong>Travel class:</strong> <%= @trip.flight_class.nil? || @trip.flight_class == "" ? "N/A" : @trip.flight_class.capitalize %></li>
              <li><strong>Latest arrival:</strong> <%= @trip.latest_arrival.nil? ? "N/A" : @trip.latest_arrival %></li>
              <li><strong>Earliest departure:</strong> <%= @trip.earliest_departure.nil? ? "N/A" : @trip.earliest_departure %></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="post">
            <h5 class="card-title">Trip description</h5>
            <p><%= @trip.description %></p>
          </div>
        </div>
      </div>
      <% if current_user == @trip.host %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Send invitations:</h5>
            <%= simple_form_for [@trip, @invitation] do |f| %>
              <%= f.input :email, label: "Email address" %>
              <%= f.submit "Invite", class:"btn btn-primary" %>
            <% end %> <br>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <% if current_user != @trip.host %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Host contact Info</h5>
          <ul class="list-unstyled profile-about-list">
            <li><strong>Name:</strong> <%= @trip.host.first_name.capitalize %> <%= @trip.host.last_name.capitalize %></li>
            <li><strong>Email:</strong> <%= @trip.host.email %></li>
          </ul>
        </div>
      </div>
      <% end %>
      <% if @trip.users.count > 0 %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Participants</h5>
          <div class="story-list">
            <% @trip.users.each do |participant| %>
              <div class="story">
                <% if participant.photo.attached? %>
                  <%= cl_image_tag participant.photo.key %>
                <% else %>
                  <% random_index = rand(1..5) %>
                  <% case random_index %>
                  <% when 1 %>
                  <img src="https://res.cloudinary.com/hachiles/image/upload/v1606483934/avatar3_znnvez.png" alt="">
                  <% when 2 %>
                  <img src="https://res.cloudinary.com/hachiles/image/upload/v1606483934/avatar1_fujnmo.png" alt="">
                  <% when 3 %>
                  <img src="https://res.cloudinary.com/hachiles/image/upload/v1606483934/avatar2_da1iqq.png" alt="">
                  <% when 4 %>
                  <img src="https://res.cloudinary.com/hachiles/image/upload/v1606483935/avatar5_ikfpkw.png" alt="">
                  <% when 5 %>
                  <img src="https://res.cloudinary.com/hachiles/image/upload/v1606483935/avatar4_l74h38.png" alt="">
                  <% end %>
                <% end %>
                <div class="story-info">
                  <span class="story-author"><%= participant.first_name.capitalize %> <%= participant.last_name.capitalize %></span>
                </div>
              </div>
            <% end %> 
          </div>
        </div>
      </div>
      <% end %>
      <% if current_user == @trip.host %>
      <% pending = @trip.invitations.where(status: "Pending") %>
        <% if pending.length > 0 %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Pending invitations</h5>
              <div class="list-unstyled">
                <% @trip.invitations.each do |invitation| %>
                  <% if invitation.status == "Pending" %>
                    <div class="story">
                      <div class="story-info">
                        <%= invitation.email %><br><%= invitation.created_at.strftime("%d/%m/%Y") %> - <%= invitation.created_at.strftime("%H:%M") %> (UTC)
                      </div><br>
                    </div>
                  <% end %>
                <% end %> 
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div><!-- Main Wrapper -->


<%# Old Code %>

<%
=begin %>
<% if current_user == @trip.host %>
  <div class="container mt-3 mb-3">
    <%= link_to "Edit trip", edit_trip_path, class:"btn btn-primary" %>
  </div>

  <div class="container mt-3 mb-3">
    <%= link_to "Delete trip", trip_path, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-primary" %>
  </div>
<% end %>

<div class="container mt-5">
  <h1><%= @trip.name.capitalize %></h1>
  <h3>Details:</h3>
  <ul>
    <li>Address: <%= @trip.street.capitalize %>, <%= @trip.zip %> <%= @trip.city.capitalize %>, <%= @trip.country.upcase %></li>
    <li>Start: <%= @trip.start_date %></li>
    <li>End: <%= @trip.end_date %></li>
  </ul>
  <h3>Restrictions:</h3>
  <ul>
    <li>Arrival airport: <%= @trip.airport_code.nil? ? "N/A" : @trip.airport_code.upcase %></li>
    <li>Price ceilling: <%= @trip.max_price.nil? ? "N/A" : @trip.max_price %>€</li>
    <li>Travel class: <%= @trip.flight_class.nil? ? "N/A" : @trip.flight_class.capitalize %></li>
    <li>Latest arrival: <%= @trip.latest_arrival.nil? ? "N/A" : @trip.latest_arrival %></li>
    <li>Earliest departure: <%= @trip.earliest_departure.nil? ? "N/A" : @trip.earliest_departure %></li>
  </ul>
  <% if @trip.users.count > 0 %>
  <h3>Participants:</h3>
  <ul>
    <% @trip.users.each do |participant| %>
      <li><%= participant.first_name.capitalize %> <%= participant.last_name.capitalize %></li>
    <% end %>
  </ul>
  <% end %>
  <% if current_user == @trip.host %>
    <% if @trip.invitations.length > 0 %>
      <h3>Pending invitations:</h3>
      <ul>
        <% @trip.invitations.each do |invitation| %>
          <% if invitation.status == "Pending" %>
            <li><%= invitation.email %><br>Creation: <%= invitation.created_at %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <% if current_user == @trip.host %>
    <h3>Create invitations:</h3>
    <%= simple_form_for [@trip, @invitation] do |f| %>
      <%= f.input :email, label: "Email address" %>
      <%= f.submit "Invite!", class:"btn btn-primary" %>
    <% end %> <br>
  <% end %>

  <%= link_to "Back to My trips", trips_path, class:"btn btn-primary" %>
</div>
<%
=end %>