<%# DO NOT REMOVE -  hidden div to get trip id %>
<div id="trip" data-id="<%= params[:trip_id] %>"></div>
<%# ---------------------------------------------- %>
<!--traveler restriction card-->
<div class="container mt-5 mb-5 rounded restrictions-card shadow">
  <h1>Booking Restrictions</h1>
  <div class="d-flex justify-content-between">
    <div>
      <div class="p-2 ml-3">
        <i class="far fa-calendar-alt"></i>
        Start date
      </div>
      <p class="pl-5"><%= @trip.start_date.strftime("%b, %d %Y") %></p>
    </div>
    <div>
      <div class="p-2 ml-3">
        <i class="far fa-calendar-alt"></i>
        End date
      </div>
      <p class="pl-5"><%= @trip.end_date.strftime("%b, %d %Y") %></p>
    </div>
    <div>
      <div class="p-2">
        <i class="fas fa-plane"></i>
        Arrival airport
      </div>
      <p class="pl-5"><%= @trip.airport_code.nil? ? "N/A" : @trip.airport_code.upcase %></p>
    </div>
    <div>
      <div class="p-2">
        <i class="fas fa-money-bill"></i>
        Price ceiling
      </div>
      <p class="pl-5"><%= @trip.max_price.nil? ? "N/A" : "#{@trip.max_price}€" %></p>
    </div>
    <div>
      <div class="p-2 align-items-center">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.59 2.80133C2.81 2.1615 2.81 1.11971 3.59 0.479877C4.37 -0.159959 5.64 -0.159959 6.42 0.479877C7.2 1.11971 7.2 2.1615 6.42 2.80133C5.63 3.44937 4.37 3.44937 3.59 2.80133ZM2 11.4883V4.10561H0V11.4883C0 13.7524 2.24 15.5898 5 15.5898H11V13.9492H5C3.34 13.9492 2 12.85 2 11.4883ZM16 14.827L10.93 10.668H7.5V7.64932C8.9 8.59267 11.1 9.42117 13 9.42117V7.64932C11.34 7.66573 9.39 6.93566 8.33 5.9759L6.93 4.70444C6.74 4.53217 6.5 4.39272 6.24 4.29428C5.95 4.17944 5.62 4.10561 5.28 4.10561H5.25C4.01 4.10561 3 4.93412 3 5.9513V10.668C3 12.0297 4.34 13.1289 6 13.1289H11.07L14.57 16L16 14.827Z" fill="#646464"/>
        </svg>
        Travel class
      </div>
      <p class="pl-5"><%= @trip.flight_class.nil? || @trip.flight_class == "" ? "N/A" : @trip.flight_class.capitalize %></p>
    </div>
    <div>
      <div class="p-2">
        <i class="fas fa-clock"></i>
        Latest arrival
      </div>
      <p class="pl-5"><%= @trip.latest_arrival.nil? ? "N/A" : @trip.latest_arrival.strftime("%d/%m/%Y") %></p>
    </div>
    <div>
      <div class="p-2">
        <i class="fas fa-clock"></i>
        Earliest departure
      </div>
      <p class="pl-5"><%= @trip.earliest_departure.nil? ? "N/A" : @trip.earliest_departure.strftime("%d/%m/%Y") %></p>
    </div>
  </div>
</div>

<!--js flight searchbox-->
<div class="container mt-5 mb-5 rounded flight-searchbox shadow">
  <div class="row mb-3 ml-1">
    <h1 class="text-light mt-3">Flight Search</h1>
  </div>
  <form>
    <div class="row">
      <select class="col-2 mt-2 mb-3 ml-4 mdb-select md-form rounded travel-class-dropdown" id="fare-class">
        <option value="M">Economy</option>
        <option value="W">Premium Economy</option>
        <option value="C">Business</option>
        <option value="F">First</option>
      </select>

      <%# <select class="col-2 mdb-select md-form"id="route">
        <option value="round">Round trip</option>
        <option value="oneway">One way</option>
      </select> %>
    </div>

    <div class="form-row">
      <div class="col ml-2 mb-5">
        <input type="text" class="form-control" placeholder="BER" id="obDepartureAp">
        <%# <input type="text" class="form-control" placeholder="BER" id="autocomplete"> %>
        <div class="autofill-airport pl-3" id="departure-airports"></div>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="FRA" id="obArrivalAp">
        <div class="autofill-airport " id="arrival-airports"></div>
      </div>
      <div class="col">
        <input type="text" class="form-control datepicker" placeholder="Departure Date" id="ob_date">
      </div>
      <div class="col">
        <input type="text" class="form-control datepicker" placeholder="Return Date" id="ib_date">
      </div>

      <div class="col mt-2 ml-2 align-self-start mt-n1">
        <button type="button" class="btn btn-outline-light btn-lg rounded-pill w-100 flight-search-button" id="search">Search</button>

      </div>
    </div>

  </div>
  </form>

<%# Spinner %>
  <div class="d-flex justify-content-center">
    <div id="loading-spinner" class="spinner-border text-secondary mt-20" style="width: 10rem; height: 10rem; display: none;" role="status" >
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!--js flight list & confirm button-->
  <div class="container" id="flight-list"></div>
  <%# This button has styled display none becasue of js purposes %>
  <button class="btn btn-primary pt-2 mt-5 mb-5" id="select-flights" data-toggle="modal" data-target="#flightConfirm" style="display: none;">Confirm Selection</button>
</div>
<!-- Modal -->
<div class="modal fade" id="flightConfirm" tabindex="-1" role="dialog" aria-labelledby="flightConfirmLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body mt-3">
        <p>You will now be taken off-site to complete your purchase. Continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </div>
</div>
