
<%
=begin %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <h1>flyinvite</h1>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

        <li class="nav-item active circle_green">
          <%= link_to "#" do %>
            <%= image_tag "Vectorplane.png", class: "plane" %>
          <%end%>
        </li>
      
        <li class="nav-item active circle_violet">
          <%= link_to "#" do %>
            <%= image_tag "bubble.png", class: "chatbubble" %>
          <% end %>
        </li>
      
        <li class="nav-item active circle_violet">
          <%= link_to "#" do %>
            <%= image_tag "alertbell", class: "plane" %>
          <%end%>
        </li>
      
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
      
        <li class="nav-item">
          <%= link_to "Trips", trips_path, class: "nav-link" %>
        </li>
      
        <% unless current_user.host %>
          <li class="nav-item">
            <%= link_to "Invitations", invitations_path, class: "nav-link" %>
          </li>
        <% end %>
      
        <li>
          <p class="greeting">Hi <%= current_user.first_name.capitalize %></p>
        </li>
      
        <li class="nav-item dropdown">
          <%= image_tag "profile.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%
=end %>

<div class="page-sidebar">
    <div class="profile-menu">
        <a href="app-profile.html">
            <img src="../../assets/images/avatars/avatar1.png" alt="">
        </a>
    </div>
    <div class="page-sidebar-inner">
        <div class="page-sidebar-menu">
            <ul>
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="right" title="Dashboard"><i class="fas fa-rocket"></i></a>
                </li>
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="right" title="News"><i class="fas fa-globe-africa"></i></a>
                </li>
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="right" title="Inbox"><i class="fas fa-inbox"></i></a>
                </li>
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="right" title="Chat"><i class="far fa-comments"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="settings-menu-btn">
        <a href="#" class="settings-menu-link"><i class="fas fa-wrench"></i></a>
    </div>
</div><!-- /Page Sidebar -->